In [1]:
import numpy as np
import pandas as pd

In [2]:
# Merge Monopoly Results
data = pd.read_stata("..\\results\\Full Model\\Simulation Results\\Simluation Results - Monopoly - chunk 1.dta")
list = data.loc[:, "chosen_ad_1": "chosen_ad_15"].columns.to_list()
list += (data.loc[:, "chosen_ad_y_1": "chosen_ad_y_15"].columns.to_list())
list += (data.loc[:, ['event_no']].columns.to_list())
# list += (data.loc[:, ["user_visit_no"]].columns.to_list())
data = data.filter(items=list)

for i in range(2, 4):
    data_chunk = pd.read_stata(f"..\\results\\Full Model\\Simulation Results\\Simluation Results - Monopoly - chunk {i}.dta")
    data_chunk = data_chunk.filter(items=list)
    print(f"Chunk {i} Loaded!")
    data = pd.concat([data, data_chunk], axis=0)
    print(f"Chunk {i} Merged!")

data.to_stata(f"..\\results\\Full Model\\Simulation Results\\Simluation Results - Monopoly - All.dta")

Chunk 2 Loaded!
Chunk 2 Merged!
Chunk 3 Loaded!
Chunk 3 Merged!

In [12]:
data

,chosen_ad_1,chosen_ad_2,chosen_ad_3,chosen_ad_4,chosen_ad_5,chosen_ad_6,chosen_ad_7,chosen_ad_8,chosen_ad_9,chosen_ad_10,...,chosen_ad_y_8,chosen_ad_y_9,chosen_ad_y_10,chosen_ad_y_11,chosen_ad_y_12,chosen_ad_y_13,chosen_ad_y_14,chosen_ad_y_15,event_no,user_visit_no
0,18.0,90.0,23.0,73.0,70.0,78.0,45.0,20.0,42.0,74.0,...,0.00504,0.004963,0.004942,0.004708,0.0047,0.004697,0.004652,0.004634,150,1
1,18.0,90.0,23.0,73.0,70.0,78.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,151,2
2,18.0,90.0,23.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,162,1
3,18.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,164,2
4,18.0,90.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,163,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319199,18.0,90.0,23.0,73.0,70.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17616234,1
319200,18.0,90.0,23.0,73.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17616235,2
319201,18.0,90.0,23.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17616255,3
319202,18.0,90.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17616256,4
319203,18.0,90.0,23.0,73.0,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17616230,5

In [2]:
# Merge Monopoly Results
data = pd.read_stata("..\\results\\Full Model\\Simulation Results\\Simluation Results - Monopoly Revenue Max - chunk 1.dta")
list = data.loc[:, "chosen_ad_1": "chosen_ad_15"].columns.to_list()
list += (data.loc[:, "chosen_ad_y_1": "chosen_ad_y_15"].columns.to_list())
list += (data.loc[:, "chosen_ad_rev_1": "chosen_ad_rev_15"].columns.to_list())
list += (data.loc[:, ['event_no']].columns.to_list())
data = data.filter(items=list)

for i in range(2, 4):
    data_chunk = pd.read_stata(f"..\\results\\Full Model\\Simulation Results\\Simluation Results - Monopoly Revenue Max - chunk {i}.dta")
    data_chunk = data_chunk.filter(items=list)
    print(f"Chunk {i} Loaded!")
    data = pd.concat([data, data_chunk], axis=0)
    print(f"Chunk {i} Merged!")

data.to_stata(f"..\\results\\Full Model\\Simulation Results\\Simluation Results - Monopoly Revenue Max - All.dta")

Chunk 2 Loaded!
Chunk 2 Merged!
Chunk 3 Loaded!
Chunk 3 Merged!

In [17]:
# Merge Duopoly Results

data = pd.read_stata("..\\results\\Full Model\\Simulation Results\\Simluation Results - Split 1 2 - chunk 1.dta")
list = data.loc[:, "chosen_ad_1": "chosen_ad_15"].columns.to_list()
list += (data.loc[:, "chosen_ad_y_1": "chosen_ad_y_15"].columns.to_list())
list += (data.loc[:, ['event_no']].columns.to_list())
data = data.filter(items=list)

for i in range(2, 7):
    data_chunk = pd.read_stata(f"..\\results\\Full Model\\Simulation Results\\Simluation Results - Split 1 2 - chunk {i}.dta")
    data_chunk = data_chunk.filter(items=list)
    print(f"Chunk {i} Loaded!")
    data = pd.concat([data, data_chunk], axis=0)
    print(f"Chunk {i} Merged!")

data.to_stata(f"..\\results\\Full Model\\Simulation Results\\Simluation Results - Split 1 2 - All.dta")

Chunk 2 Loaded!
Chunk 2 Merged!
Chunk 3 Loaded!
Chunk 3 Merged!
Chunk 4 Loaded!
Chunk 4 Merged!
Chunk 5 Loaded!
Chunk 5 Merged!
Chunk 6 Loaded!
Chunk 6 Merged!

In [7]:
# Merge Duopoly Results

data = pd.read_stata("..\\results\\Full Model\\Simulation Results\\Simluation Results - Split 1 2 Revenue Max - chunk 1.dta")
list = data.loc[:, "chosen_ad_1": "chosen_ad_15"].columns.to_list()
list += (data.loc[:, "chosen_ad_y_1": "chosen_ad_y_15"].columns.to_list())
list += (data.loc[:, "chosen_ad_rev_1": "chosen_ad_rev_15"].columns.to_list())
list += (data.loc[:, ['event_no']].columns.to_list())
data = data.filter(items=list)

for i in range(2, 9):
    data_chunk = pd.read_stata(f"..\\results\\Full Model\\Simulation Results\\Simluation Results - Split 1 2 Revenue Max - chunk {i}.dta")
    data_chunk = data_chunk.filter(items=list)
    print(f"Chunk {i} Loaded!")
    data = pd.concat([data, data_chunk], axis=0)
    print(f"Chunk {i} Merged!")

data.to_stata(f"..\\results\\Full Model\\Simulation Results\\Simluation Results - Split 1 2 Revenue Max - All.dta")

Chunk 2 Loaded!
Chunk 2 Merged!
Chunk 3 Loaded!
Chunk 3 Merged!
Chunk 4 Loaded!
Chunk 4 Merged!
Chunk 5 Loaded!
Chunk 5 Merged!
Chunk 6 Loaded!
Chunk 6 Merged!
Chunk 7 Loaded!
Chunk 7 Merged!
Chunk 8 Loaded!
Chunk 8 Merged!

In [8]:
# Merge Duopoly Results

data = pd.read_stata("..\\results\\Full Model\\Simulation Results\\Simluation Results - Split 5 6 Revenue Max - chunk 1.dta")
list = data.loc[:, "chosen_ad_1": "chosen_ad_15"].columns.to_list()
list += (data.loc[:, "chosen_ad_y_1": "chosen_ad_y_15"].columns.to_list())
list += (data.loc[:, "chosen_ad_rev_1": "chosen_ad_rev_15"].columns.to_list())
list += (data.loc[:, ['event_no']].columns.to_list())
data = data.filter(items=list)

for i in range(2, 9):
    data_chunk = pd.read_stata(f"..\\results\\Full Model\\Simulation Results\\Simluation Results - Split 5 6 Revenue Max - chunk {i}.dta")
    data_chunk = data_chunk.filter(items=list)
    print(f"Chunk {i} Loaded!")
    data = pd.concat([data, data_chunk], axis=0)
    print(f"Chunk {i} Merged!")

data.to_stata(f"..\\results\\Full Model\\Simulation Results\\Simluation Results - Split 5 6 Revenue Max - All.dta")

Chunk 2 Loaded!
Chunk 2 Merged!
Chunk 3 Loaded!
Chunk 3 Merged!
Chunk 4 Loaded!
Chunk 4 Merged!
Chunk 5 Loaded!
Chunk 5 Merged!
Chunk 6 Loaded!
Chunk 6 Merged!
Chunk 7 Loaded!
Chunk 7 Merged!
Chunk 8 Loaded!
Chunk 8 Merged!

In [5]:
# Merge Duopoly Results

data = pd.read_stata("..\\results\\Full Model\\Simulation Results\\Simluation Results - Split 3 4 - chunk 1.dta")
list = data.loc[:, "chosen_ad_1": "chosen_ad_15"].columns.to_list()
list += (data.loc[:, "chosen_ad_y_1": "chosen_ad_y_15"].columns.to_list())
list += (data.loc[:, ['event_no']].columns.to_list())
data = data.filter(items=list)

for i in range(2, 7):
    data_chunk = pd.read_stata(f"..\\results\\Full Model\\Simulation Results\\Simluation Results - Split 3 4 - chunk {i}.dta")
    data_chunk = data_chunk.filter(items=list)
    print(f"Chunk {i} Loaded!")
    data = pd.concat([data, data_chunk], axis=0)
    print(f"Chunk {i} Merged!")

data.to_stata(f"..\\results\\Full Model\\Simulation Results\\Simluation Results - Split 3 4 - All.dta")

Chunk 2 Loaded!
Chunk 2 Merged!
Chunk 3 Loaded!
Chunk 3 Merged!
Chunk 4 Loaded!
Chunk 4 Merged!
Chunk 5 Loaded!
Chunk 5 Merged!
Chunk 6 Loaded!
Chunk 6 Merged!

In [11]:
# Merge Duopoly Results

data = pd.read_stata("..\\results\\Full Model\\Simulation Results\\Simluation Results - Split 7 8 - chunk 1.dta")
list = data.loc[:, "chosen_ad_1": "chosen_ad_15"].columns.to_list()
list += (data.loc[:, "chosen_ad_y_1": "chosen_ad_y_15"].columns.to_list())
list += (data.loc[:, ['event_no']].columns.to_list())
data = data.filter(items=list)

for i in range(2, 10):
    data_chunk = pd.read_stata(f"..\\results\\Full Model\\Simulation Results\\Simluation Results - Split 7 8 - chunk {i}.dta")
    data_chunk = data_chunk.filter(items=list)
    print(f"Chunk {i} Loaded!")
    data = pd.concat([data, data_chunk], axis=0)
    print(f"Chunk {i} Merged!")

data.to_stata(f"..\\results\\Full Model\\Simulation Results\\Simluation Results - Split 7 8 - All.dta")

Chunk 2 Loaded!
Chunk 2 Merged!
Chunk 3 Loaded!
Chunk 3 Merged!
Chunk 4 Loaded!
Chunk 4 Merged!
Chunk 5 Loaded!
Chunk 5 Merged!
Chunk 6 Loaded!
Chunk 6 Merged!
Chunk 7 Loaded!
Chunk 7 Merged!
Chunk 8 Loaded!
Chunk 8 Merged!
Chunk 9 Loaded!
Chunk 9 Merged!

In [9]:
# Merge Duopoly Results

data = pd.read_stata("..\\results\\Full Model\\Simulation Results\\Simluation Results - Split 7 8 Revenue Max - chunk 1.dta")
list = data.loc[:, "chosen_ad_1": "chosen_ad_15"].columns.to_list()
list += (data.loc[:, "chosen_ad_y_1": "chosen_ad_y_15"].columns.to_list())
list += (data.loc[:, "chosen_ad_rev_1": "chosen_ad_rev_15"].columns.to_list())
list += (data.loc[:, ['event_no']].columns.to_list())
data = data.filter(items=list)

for i in range(2, 5):
    data_chunk = pd.read_stata(f"..\\results\\Full Model\\Simulation Results\\Simluation Results - Split 7 8 Revenue Max - chunk {i}.dta")
    data_chunk = data_chunk.filter(items=list)
    print(f"Chunk {i} Loaded!")
    data = pd.concat([data, data_chunk], axis=0)
    print(f"Chunk {i} Merged!")

data.to_stata(f"..\\results\\Full Model\\Simulation Results\\Simluation Results - Split 7 8 Revenue Max - All.dta")

Chunk 2 Loaded!
Chunk 2 Merged!
Chunk 3 Loaded!
Chunk 3 Merged!
Chunk 4 Loaded!
Chunk 4 Merged!

In [16]:
# Merge Duopoly Results

data = pd.read_stata("..\\results\\Full Model\\Simulation Results\\Simluation Results - Split 5 6 - chunk 1.dta")
list = data.loc[:, "chosen_ad_1": "chosen_ad_15"].columns.to_list()
list += (data.loc[:, "chosen_ad_y_1": "chosen_ad_y_15"].columns.to_list())
list += (data.loc[:, ['event_no']].columns.to_list())
data = data.filter(items=list)

for i in range(2, 6):
    data_chunk = pd.read_stata(f"..\\results\\Full Model\\Simulation Results\\Simluation Results - Split 5 6 - chunk {i}.dta")
    data_chunk = data_chunk.filter(items=list)
    print(f"Chunk {i} Loaded!")
    data = pd.concat([data, data_chunk], axis=0)
    print(f"Chunk {i} Merged!")

data.to_stata(f"..\\results\\Full Model\\Simulation Results\\Simluation Results - Split 5 6 - All.dta")

Chunk 2 Loaded!
Chunk 2 Merged!
Chunk 3 Loaded!
Chunk 3 Merged!
Chunk 4 Loaded!
Chunk 4 Merged!
Chunk 5 Loaded!
Chunk 5 Merged!

In [3]:
# Reshape Long 

data = pd.read_stata(f"..\\results\\Full Model\\Simulation Results\\Simluation Results - Monopoly - All.dta")

main_data = pd.DataFrame(columns=['ad', 'ctr', 'event_no'])
for ad_no in range(1, 16):
    ad_var_name = f"chosen_ad_{ad_no}"
    ctr_var_name = f"chosen_ad_y_{ad_no}"
    data_temp = data.loc[:, [ad_var_name, ctr_var_name, 'event_no']]
    data_temp.rename(columns = {ad_var_name:'ad', ctr_var_name:'ctr'}, inplace = True) 
    data_temp
    # print(data_temp)
    main_data = pd.concat([main_data, data_temp], axis=0)
main_data = main_data.dropna()
main_data.event_no = main_data.event_no.astype(int)
main_data.to_stata(f"..\\results\\Full Model\\Simulation Results\\Simluation Results - Monopoly - All.dta")

In [3]:
# Reshape Long 

data = pd.read_stata(f"..\\results\\Full Model\\Simulation Results\\Simluation Results - Monopoly Revenue Max - All.dta")

main_data = pd.DataFrame(columns=['ad', 'ctr', 'event_no', 'rev'])
for ad_no in range(1, 16):
    ad_var_name = f"chosen_ad_{ad_no}"
    ctr_var_name = f"chosen_ad_y_{ad_no}"
    rev_var_name = f"chosen_ad_rev_{ad_no}"
    data_temp = data.loc[:, [ad_var_name, ctr_var_name, rev_var_name, 'event_no']]
    data_temp.rename(columns = {ad_var_name:'ad', ctr_var_name:'ctr', rev_var_name:'rev'}, inplace = True) 
    main_data = pd.concat([main_data, data_temp], axis=0)
main_data = main_data.dropna(subset=['ctr'])
main_data.event_no = main_data.event_no.astype(int)
main_data.to_stata(f"..\\results\\Full Model\\Simulation Results\\Simluation Results - Monopoly Revenue Max - All.dta")

In [46]:
main_data.rev.value_counts()

rev
0.000000    17
0.010104     1
0.011057     1
0.029215     1
0.025475     1
            ..
0.002102     1
0.001270     1
0.008487     1
0.008848     1
0.007918     1
Name: count, Length: 79, dtype: int64

In [4]:
# Reshape Long 
for split in {1, 5, 7}:
    data = pd.read_stata(f"..\\results\\Full Model\\Simulation Results\\Simluation Results - Split {split} {split + 1} - All.dta")

    main_data = pd.DataFrame(columns=['ad', 'ctr', 'event_no'])
    for ad_no in range(1, 16):
        ad_var_name = f"chosen_ad_{ad_no}"
        ctr_var_name = f"chosen_ad_y_{ad_no}"
        data_temp = data.loc[:, [ad_var_name, ctr_var_name, 'event_no']]
        data_temp.rename(columns = {ad_var_name:'ad', ctr_var_name:'ctr'}, inplace = True) 
        data_temp
        # print(data_temp)
        main_data = pd.concat([main_data, data_temp], axis=0)
    main_data = main_data.dropna()
    main_data.event_no = main_data.event_no.astype(int)
    main_data.to_stata(f"..\\results\\Full Model\\Simulation Results\\Simluation Results - Split {split} {split + 1} - All.dta")

KeyError: "['chosen_ad_1', 'chosen_ad_y_1'] not in index"

In [14]:
# Reshape Long 
for split in {1, 5}:
    data = pd.read_stata(f"..\\results\\Full Model\\Simulation Results\\Simluation Results - Split {split} {split + 1} - Root N - All.dta")

    main_data = pd.DataFrame(columns=['ad', 'ctr', 'event_no'])
    for ad_no in range(1, 16):
        ad_var_name = f"chosen_ad_{ad_no}"
        ctr_var_name = f"chosen_ad_y_{ad_no}"
        data_temp = data.loc[:, [ad_var_name, ctr_var_name, 'event_no']]
        data_temp.rename(columns = {ad_var_name:'ad', ctr_var_name:'ctr'}, inplace = True) 
        data_temp
        # print(data_temp)
        main_data = pd.concat([main_data, data_temp], axis=0)
    main_data = main_data.dropna()
    main_data.event_no = main_data.event_no.astype(int)
    main_data.to_stata(f"..\\results\\Full Model\\Simulation Results\\Simluation Results - Split {split} {split + 1} - Root N - All.dta")

In [11]:
# Reshape Long 
for split in {1, 5, 7}:
    data = pd.read_stata(f"..\\results\\Full Model\\Simulation Results\\Simluation Results - Split {split} {split + 1} Revenue Max - All.dta")

    main_data = pd.DataFrame(columns=['ad', 'ctr', 'event_no'])
    for ad_no in range(1, 16):
        ad_var_name = f"chosen_ad_{ad_no}"
        ctr_var_name = f"chosen_ad_y_{ad_no}"
        rev_var_name = f"chosen_ad_rev_{ad_no}"
        data_temp = data.loc[:, [ad_var_name, ctr_var_name, rev_var_name, 'event_no']]
        data_temp.rename(columns = {ad_var_name:'ad', ctr_var_name:'ctr', rev_var_name: 'rev'}, inplace = True) 
        main_data = pd.concat([main_data, data_temp], axis=0)
    main_data = main_data.dropna()
    main_data.event_no = main_data.event_no.astype(int)
    main_data.to_stata(f"..\\results\\Full Model\\Simulation Results\\Simluation Results - Split {split} {split + 1} Revenue Max - All.dta")

In [6]:
# Merge Duopoly Results

data = pd.read_stata("..\\results\\Full Model\\Simulation Results\\Simluation Results - Split 5 6 - Root N - chunk 1.dta")
list = data.loc[:, "chosen_ad_1": "chosen_ad_15"].columns.to_list()
list += (data.loc[:, "chosen_ad_y_1": "chosen_ad_y_15"].columns.to_list())
list += (data.loc[:, ['event_no']].columns.to_list())
data = data.filter(items=list)

for i in range(2, 5):
    data_chunk = pd.read_stata(f"..\\results\\Full Model\\Simulation Results\\Simluation Results - Split 5 6 - Root N - chunk {i}.dta")
    data_chunk = data_chunk.filter(items=list)
    print(f"Chunk {i} Loaded!")
    data = pd.concat([data, data_chunk], axis=0)
    print(f"Chunk {i} Merged!")

data.to_stata(f"..\\results\\Full Model\\Simulation Results\\Simluation Results - Split 5 6 - Root N - All.dta")

Chunk 2 Loaded!
Chunk 2 Merged!
Chunk 3 Loaded!
Chunk 3 Merged!
Chunk 4 Loaded!
Chunk 4 Merged!

In [7]:
# Merge Duopoly Results

data = pd.read_stata("..\\results\\Full Model\\Simulation Results\\Simluation Results - Split 1 2 - Root N - chunk 1.dta")
list = data.loc[:, "chosen_ad_1": "chosen_ad_15"].columns.to_list()
list += (data.loc[:, "chosen_ad_y_1": "chosen_ad_y_15"].columns.to_list())
list += (data.loc[:, ['event_no']].columns.to_list())
data = data.filter(items=list)

for i in range(2, 4):
    data_chunk = pd.read_stata(f"..\\results\\Full Model\\Simulation Results\\Simluation Results - Split 1 2 - Root N - chunk {i}.dta")
    data_chunk = data_chunk.filter(items=list)
    print(f"Chunk {i} Loaded!")
    data = pd.concat([data, data_chunk], axis=0)
    print(f"Chunk {i} Merged!")

data.to_stata(f"..\\results\\Full Model\\Simulation Results\\Simluation Results - Split 1 2 - Root N - All.dta")

Chunk 2 Loaded!
Chunk 2 Merged!
Chunk 3 Loaded!
Chunk 3 Merged!

In [11]:
data

,chosen_ad_1,chosen_ad_2,chosen_ad_3,chosen_ad_4,chosen_ad_5,chosen_ad_6,chosen_ad_7,chosen_ad_8,chosen_ad_9,chosen_ad_10,...,chosen_ad_y_7,chosen_ad_y_8,chosen_ad_y_9,chosen_ad_y_10,chosen_ad_y_11,chosen_ad_y_12,chosen_ad_y_13,chosen_ad_y_14,chosen_ad_y_15,event_no
0,45.0,70.0,73.0,80.0,99.0,87.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,151
1,45.0,70.0,73.0,87.0,38.0,99.0,15.0,66.0,49.0,94.0,...,0.003722,0.004199,0.00299,0.004137,0.003144,0.003964,0.00354,0.003497,0.004091,150
2,45.0,73.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,163
3,45.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,164
4,45.0,15.0,38.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,162
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119157,45.0,70.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17616256
119158,45.0,70.0,73.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17616255
119159,73.0,45.0,18.0,23.0,94.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17616230
119160,45.0,70.0,80.0,73.0,18.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17616234
119161,45.0,70.0,80.0,73.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17616235